html,body {
	height: 100%;
}
body{

}
.hero{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.hero::before {
	content: "";
	background-image: url('img/1920x1080-Hd-Wallpaper-Background.jpg');
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 70%;
}
.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f4f4f4;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
}
form .avatar {
	color: #fff;
	margin: 0 auto 30px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #007BFF;
	padding: 15px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}
form .avatar i {
	font-size: 62px;
}
#pop, #pop1{
	display: none;
	text-align: left;
}
#button, #button1{
	font-size: 18px;
}
.card{
	width: 200px;
	margin: 0 auto;
}
.card1{
	margin: 20px auto 0;
	width: 200px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:0;
}
.login-form{
	width:330px;
	margin:0;
}

.alert{
	font-size: 13px;

}
